<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
        <h1><div class="head1">
            ~CARSELECTION~
        </div></h1>
        
        <title>
            CARSELECTION WEBSITE
        </title>
    </head>
    <body>
        <header>
        <p style="font-size:120%" id="top-text">
           Сделайте свой выбор и найдите наиболее подходящий Вам автомобиль!
        </p>
        <p style="text-align: center;">
            <b>Начните поиски лучшего автомобиля!
            </b> 
        </p>
        <br>
        <br>
       
        <a href="/price"><div class="button1">
            Поехали!
         </div></a>
        </header>

        
    </body>
    <footer>
        Author: Андрюшина Мария, Виджая Стивен, Танумихарджа Рафаэл Мэтью, Цурова Тамара
        <br>
        Tomsk 2022
    </footer>

</html>