<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
    <a href="/"><h1><div class="head1">
        ~CARSELECTION~
    </div></h1></a>
        
        <title>
            CARSELECTION WEBSITE
        </title>
</head>
<body>
    <p style="font-size:120%" id="top-text">
        Хотите выбрать автомобили конкретных марок?
     </p>
     <p>
         <b>Выберите марку вашего автомобиля:</b>
     </p>
     <form action="color" method="post">
        <div class="row-any">
            <div class="column-any">
                <input type="checkbox" id="any3" name="input_brand" value="Any">
                <label>Любой</label><br>
            </div>
        </div>
        <div class="row">
            <div class="column">
               <input type="checkbox" id="brand1" name="input_brand" value="Acura">
               <label>Acura</label><br>
               <input type="checkbox" id="brand2" name="input_brand" value="Aston Martin" >
               <label>Aston Martin</label><br>
               <input type="checkbox" id="brand3" name="input_brand" value="Audi">
               <label>Audi</label><br>
               <input type="checkbox" id="brand4" name="input_brand" value="Bentley" >
               <label>Bentley</label><br>
               <input type="checkbox" id="brand5" name="input_brand" value="BMW">
               <label>BMW</label><br>
               <input type="checkbox" id="brand6" name="input_brand" value="Cadillac">
               <label>Cadillac</label><br>
               <input type="checkbox" id="brand8" name="input_brand" value="Chevrolet">
               <label>Chevrolet</label><br>
               <input type="checkbox" id="brand9" name="input_brand" value="Chrysler">
               <label>Chrysler</label><br>
            </div>
            <div class="column">
               <input type="checkbox" id="brand10" name="input_brand" value="Dodge">
               <label>Dodge</label><br>
               <input type="checkbox" id="brand11" name="input_brand" value="FIAT">
               <label>FIAT</label><br>
               <input type="checkbox" id="brand12" name="input_brand" value="Ford">
               <label>Ford</label><br>
               <input type="checkbox" id="brand13" name="input_brand" value="Genesis">
               <label>Genesis</label><br>
               <input type="checkbox" id="brand14" name="input_brand" value="GMC">
               <label>GMC</label><br>
               <input type="checkbox" id="brand15" name="input_brand" value="Honda">
               <label>Honda</label><br>
               <input type="checkbox" id="brand16" name="input_brand" value="Hyundai">
               <label>Hyundai</label><br>
               <input type="checkbox" id="brand17" name="input_brand" value="Infiniti">
               <label>Infiniti</label><br>
           </div>
           <div class="column">
               <input type="checkbox" id="brand18" name="input_brand" value="Kia">
               <label>Kia</label><br>
               <input type="checkbox" id="brand19" name="input_brand" value="Land Rover">
               <label>Land Rover</label><br>
               <input type="checkbox" id="brand20" name="input_brand" value="Lexus">
               <label>Lexus</label><br>
               <input type="checkbox" id="brand12" name="input_brand" value="Maserati">
               <label>Maserati</label><br>
               <input type="checkbox" id="brand13" name="input_brand" value="Mazda">
               <label>Mazda</label><br>
               <input type="checkbox" id="brand14" name="input_brand" value="Mercedes-Benz">
               <label>Mercedes-Benz</label><br>
               <input type="checkbox" id="brand15" name="input_brand" value="Mitsubishi">
               <label>Mitsubishi</label><br>
               <input type="checkbox" id="brand16" name="input_brand" value="Nissan">
               <label>Nissan</label><br>
           </div>
           <div class="column">
               <input type="checkbox" id="brand17" name="input_brand" value="Porsche">
               <label>Porsche</label><br>
               <input type="checkbox" id="brand18" name="input_brand" value="Rolls-Royce">
               <label>Rolls-Royce</label><br>
               <input type="checkbox" id="brand19" name="input_brand" value="Scion">
               <label>Scion</label><br>
               <input type="checkbox" id="brand20" name="input_brand" value="Subaru">
               <label>Subaru</label><br>
               <input type="checkbox" id="brand21" name="input_brand" value="Tesla">
               <label>Tesla</label><br>
               <input type="checkbox" id="brand22" name="input_brand" value="Toyota">
               <label>Toyota</label><br>
               <input type="checkbox" id="brand23" name="input_brand" value="Volkswagen">
               <label>Volkswagen</label><br>
               <input type="checkbox" id="brand24" name="input_brand" value="Volvo">
               <label>Volvo</label><br>
           </div>
       </div> 
       <br><br><br>
       <input type="submit" value="Следующий шаг" style="margin-left: 220px;">
     </form>
</body>

<footer>
    Author: Андрюшина Мария, Виджая Стивен, Танумихарджа Рафаэл Мэтью, Цурова Тамара
    <br>
    Tomsk 2022
</footer>
</html>