<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
    <a href="/"><h1><div class="head1">
        ~CARSELECTION~
    </div></h1></a>
        
        <title>
            CARSELECTION WEBSITE
        </title>
</head>
<body>
    <p style="font-size:120%" id="top-text">
        Какого цвета Вы хотите автомобиль?
     </p>
     <p>
         <b>Выберите цвет Вашего автомобиля:</b>
     </p>
    
     <form action="year" method="post">
         <input type="checkbox" id="any4" name="input_color" value="Any">
         <label>Любой</label><br>
         <input type="checkbox" id="any4" name="input_color" value="Black">
         <label>Черный</label><br>
         <input type="checkbox" id="any4" name="input_color" value="White">
         <label>Белый</label><br>
         <input type="checkbox" id="any4" name="input_color" value="Silver">
         <label>Серебряный</label><br>
         <input type="checkbox" id="any4" name="input_color" value="Gray">
         <label>Серый</label><br>
         <input type="checkbox" id="any4" name="input_color" value="Red">
         <label>Красный</label><br>
         <input type="checkbox" id="any4" name="input_color" value="Blue">
         <label>Синий</label><br>
         <input type="submit" value="Следующий шаг">
     </form>
</body>

<footer>
    Author: Андрюшина Мария, Виджая Стивен, Танумихарджа Рафаэл Мэтью, Цурова Тамара
    <br>
    Tomsk 2022
</footer>
</html>