<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
        <h1><div class="head1">
            ~CARSELECTION~
        </div></h1>
        
        <title>
            CARSELECTION WEBSITE
        </title>
    </head>
    <hr>
    
    <body>
        <header>
        <p style="text-align: center;">Here are the result for your search:</p>
        <p>
            <b style="font-size: large;">Best result:</b>
        </p>
        <form action="/show_result" method="get">
            
        </form>
        </header>

        
    </body>
    <footer>
        Author: Андрюшина Мария, Виджая Стивен, Танумихарджа Рафаэл Мэтью, Цурова Тамара
        <br>
        Tomsk 2022
    </footer>
</html>