<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
    <a href="/"><h1><div class="head1">
        ~CARSELECTION~
    </div></h1></a>
        
        <title>
            CARSELECTION WEBSITE
        </title>
</head>
<hr>
<body>
    <p style="font-size:120%">
        Which car fuel type do you prefer?
     </p>
     <p>
         <b>Choose your car fuel type</b>
     </p>
    
     <form action="transmission" method="post">
         <input type="checkbox" id="any1" name="input_fuel" value="Any">
         <label>Any</label><br>
         <input type="checkbox" id="fueltype1" name="input_fuel" value="Petrol">
         <label>Petrol</label><br>
         <input type="checkbox" id="fueltype2" name="input_fuel" value="Diesel">
         <label>Diesel</label><br>
         <input type="checkbox" id="fueltype3" name="input_fuel" value="Electric">
         <label>Electric</label><br>
         <input type="checkbox" id="fueltype4" name="input_fuel" value="Hybrid">
         <label>Hybrid</label><br><br>
         <input type="submit" value="Lets go to the next step">
     </form>
</body>

<footer>
    Author: Андрюшина Мария, Виджая Стивен, Танумихарджа Рафаэл Мэтью, Цурова Тамара
    <br>
    Tomsk 2022
</footer>
</html>