<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
        <a href="/"><h1><div class="head1">
            ~CARSELECTION~
        </div></h1></a>
        
        <title>
            CARSELECTION WEBSITE
        </title>
    </head>    
    <body>
        <header>
        <div class="center">
                <p style="text-align: center;">Результаты Вашего поиска:</p>
                <div class="center">
                    <p style="text-align: center;" class="sorry-text ">Извините, мы не нашли автомобиль по Вашим требованиям.</p>
                    <a href="/">
                        <img src="/static/img/sad_car.png" alt="Sad car" class ="zoom">
                    </a>
                </div>
        </div>
    </header>
    </body>

    <footer>
        Author: Андрюшина Мария, Виджая Стивен, Танумихарджа Рафаэл Мэтью, Цурова Тамара
        <br>
        Tomsk 2022
    </footer>
</html>