
h1{
    color:rgb(255, 255, 253);
    font-family:sans-serif;
    font-size:250%;
    text-align: center;
}

body{
   height: 100px;
   background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(/static/img/bg1.jpg); 
   text-align: center;
   background-size: 100% 800%;   
}


p{
    font-size: 160%;font-family: Segoe UI;
    padding-left: 40px;
    color: white;
}



.button1{
    background-color: white;
    color: black;
    padding: 40px;
    width: 200px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 50%;
    border: 1.5px solid black;
    font-size: 25px;
    transition-duration: 0.4s;
    cursor: pointer;
    
    font-family: Verdana;
    
}

.center{
    margin: auto;
    height: fit-content;
    width: 60%;
   
    padding: 10px;
}

.row {
    
    display: flex;
    padding-bottom: 10px;
    text-align: start;
   
  }
  
  
  .column {
    align-content: center;
    padding: 10px;
    height: 300px;
  }

.row1{
    display: flex;
    padding-bottom: 10px;
    text-align: start;
}

.column1{
    align-content: center;
    padding: 10px;
    height: 300px;
}

.button1:hover{
    background-color: rgb(218, 212, 212);
}

form{
    display: inline-block;
    text-align: justify;
    
    
}

label{
    color: white;
    font-size: 23px;
}

input[type=submit] {
    border: none; /*rewriting standard style, it is necessary to be able to change the size*/
    height: 60px;
    width: 220px;
    border-radius: 30%;
    font-size: 18px;  
    display: inline-block;
 
}

input[type='checkbox'] {
    width:15px;
    height:15px;
    background:white;
    border-radius:5px;
    border:2px solid #555;
}



footer {
    position: fixed;
    padding: 10px 10px 0px 10px;
    padding-top: -50px;
    width: 100%;
    bottom: 0;
    height: 50px;
    text-align: center;
    color: black;
    background-color: rgb(226, 218, 218);
    opacity: 1;
    
  }

a{
    text-decoration: none;
}